@charset "UTF-8";
/* CSS Document */
* {
    box-sizing: border-box;
}

body{

    background: url("background.png") no-repeat fixed top right;
    background-size: cover;
    background-color: skyblue;

}
header > h1{
    text-align: center;
    color:black;
}

#container{width: 900px;
    margin:0 auto;}

nav li {
    float: right;
}

nav li a {
    display: block;
    color: #0004ad;
    padding: 0px 20px;
    text-decoration-line: underline;
}

nav li a:hover {background-color: #0004ad;}


ul{
    color: blue;
    
}

input{
    color: black;
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }